<template>
  <p class="city-choice__city ui-text-small ui-pb-2" v-on:click="$emit('city-was-chosen', city)">
    {{ city.name }}
  </p>

</template>

<script>

export default {
  props: {city: Object}
}
</script>

<style scoped>
.city-choice__city {
  box-sizing: border-box;
  color: #3a3e46;
  cursor: pointer;
}

.ui-text-small {
  font-size: 14px;
  line-height: 18px;
}
</style>