<template>


  <div data-v-04ad8b26="" data-v-37a53fd7="" class="city-choice">
    <div data-v-04ad8b26="">
      <div data-v-04ad8b26="">
        <div data-v-04ad8b26="" class="city-choice__group city-choice__group_main">
          <div data-v-04ad8b26="">
            <div data-v-04ad8b26="" class="city-choice__group-list" style="height: 204px;">
              <CityItem v-for="city of this.cities" :key=city.id :city="city"
                        @city-was-chosen="setCity"
              >
              </CityItem>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import CityItem from "./CityItem";

export default {
  name: "CityList",
  components: {CityItem},
  props: {cities: Array},
  methods: {
    setCity(city) {
      this.$emit('city-was-chosen', city)
    }
    ,
    setCities(cities) {
      this.cities = cities;
    }

  }

}
</script>

<style scoped>
.city-choice__group-list[data-v-04ad8b26] {
  display: flex;
  flex-flow: column wrap;
  height: 190px;
  margin-top: 8px;
}

.city-choice[data-v-04ad8b26] {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  display: block;
  width: 640px;
  padding: 32px 24px;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
  box-shadow: 0 6px 9px rgba(0 0 0 0.25);
  background-color: #fff;
  z-index: 110;
}

.city-choice__group[data-v-04ad8b26] {
  margin-top: 24px;
}
</style>